<div class="card hoverable">
	<div class="card-content">
		<span class="card-title blue-grey darken-1 white-text">
			{{image.title}}
			<button id="btn-delete" class="btn-flat waves-effect waves-dark delete-image white-text right" data-id="{{image.uniqueId}}">
				<i class="material-icons">delete</i>
			</button>
		</span>
		<h5 id="image-description" class="grey-text lighten-1"><i class="material-icons left">short_text</i>{{image.description}}</h5>
		<br/>
		<div class="center-align">
			<img src="/public/upload/{{image.filename}}" alt="{{image.filename}}" class="responsive-img">
		</div>
	</div>
	<div class="card-action">
		<div class="row">
			<div class="col s3 image-footer truncate">
				<button id="btn-like" class="btn-flat waves-effect waves-dark red-text" data-id="{{image.filename}}">
					<i class="material-icons left">favorite_border</i> Like
				</button>
			</div>
			<div class="col s3 image-footer truncate">
				<i class="material-icons left">favorite</i>
				<span class="likes-count">
					{{image.likes}}
				</span>
			</div>
			<div class="col s3 image-footer truncate">
				<i class="material-icons left">remove_red_eye</i> {{image.views}}
			</div>
			<div class="col s3 image-footer truncate">
				<i class="material-icons left">access_time</i> {{timeago image.timestamp}}
			</div>
		</div>
	</div>
</div>

<br>

<div class="card z-depth-0">
	<div class="card-content">
		<span class="card-title blue-grey darken-1 white-text" style="margin:0;">
			<i class="material-icons left">comment</i> 
			Comments
			<button id="btn-toggle-comment" class="btn waves-effect waves-light deep-purple darken-1 z-depth-0 right">
				Post a Comment
			</button>
		</span>
		<div id="comment-form" class="container" style="margin: 0 auto;">
			<form action="/images/{{image.uniqueId}}/comment" method="POST">
				<div class="input-field">
					<input type="text" name="name" id="name">
					<label for="name">Name</label>
				</div>
				<div class="input-field">
					<input type="email" name="email" id="email" class="validate">
					<label for="email">Email</label>
					<span class="helper-text" data-error="Wrong!" data-success="Good!"></span>
				</div>
				<div class="input-field">
					<textarea id="comment" name="comment" class="materialize-textarea"></textarea>
					<label for="comment">Comment</label>
				</div>
				<div class="input-field">
					<button class="btn waves-effect waves-dark green z-depth-0">
						<i class="material-icons left">add_comment</i>Post
					</button>
				</div>
			</form>
		<br/>
		<ul class="collection">
			{{#each comments}}
				<li class="collection-item avatar">
					<!--<img src="images/yuna.jpg" alt="" class="circle">-->
					<img src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45" alt="" class="circle">
					<!--<i class="material-icons left">account_circle</i>-->
					<span class="title">{{name}}</span>
					<p>
						- <span style="font-style:italic;">"{{comment}}"</span> <br><br>
						<i class="material-icons left">access_time</i> {{timeago timestamp}}
					</p>
					<a href="/" class="secondary-content deep-purple-text"><i class="material-icons">autorenew</i></a>
				</li>
			{{/each}}
		</ul>
		</div>
	</div>
</div>
<br/>